<%= form_with model: @task do |f| %>

    <h1>New Task</h1>

    <%# <%= render 'tasks/form', task: @task %>

    <p>
        <%= f.label :name %><br/>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :details %><br/>
        <%= f.text_field :details %>
    </p>

    <p>
        <%= f.label :scheduled_at %><br/>
        <%= f.text_field :scheduled_at %>
    </p>

    <p>
    <%= f.submit %>
    </p>
<% end %>
<%= link_to 'Back', categories_path %>
