<h1>Editing Task</h1>

<%# <%= render 'form', task: @task %> %>
<%= form_with model: [@category, @task], local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :details %>
    <%= f.text_field :details %>

    <%= f.label :scheduled_at %>
    <%= f.text_field :scheduled_at %>

    <%= f.submit 'update' %>

<% end %>
<%= link_to 'Show', category_task_path %>
<%= link_to 'Back', category_tasks_path %>
