<%= form_with model: [@category, @task],  local: true do |f| %>

    <h1>New Task for <%= @category.name %></h1>

    <%# <%= render 'tasks/form', task: @task %>
    <p>
        <%= f.label :name %><br/>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :details %><br/>
        <%= f.text_field :details %>
    </p>

    <p>
        <%= f.label :scheduled_at %><br/>
        <%= f.date_field :scheduled_at %>
    </p>

    <%= f.submit %>
    </p>
<% end %>



<p>
<br/><%= link_to 'Back to Category list', categories_path %>
</p>