<p id="notice"><%= notice %></p>

<h1> Task for <%= @category.name%></h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Details</th>
            <th>Schedule</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @task.name %></td>
            <td><%= @task.details %></td>
            <td><%= @task.scheduled_at %></td>
        </tr>
    </tbody>
</table>


<%= link_to 'Edit', edit_category_task_path(@task) %> |
<%= link_to 'Back', category_tasks_path %>
