<table>
    <thead>
        <tr>
            <th>count</th>
            <th>ID</th>
            <th>Name</th>
            <th>Body</th>
        </tr>
    </thead>

    <tbody>
        <% counter = 1 %>
        <% @articles.each do |article| %>
            <tr>
                <td><%= counter %></td>
                <td><%= article.id %></td>
                <td><%= article.name %></td>
                <td><%= article.body %></td>
                <td><%= link_to 'edit article', edit_article_path(article) %></td>
                <td><%= link_to 'show article', article %></td>
                <td><%= link_to 'delete article', article, method: :destroy, data: { confirm: "Are you sure?"} %></td>
                
                <%# <td><%= link_to 'edit article', edit_article_path(article) %></td> %>
                <%# <td><%= link_to 'show article', show_article_path(article) %></td> %>
                <%# <td><%= link_to 'delete article', delete_article_path(article), method: :delete, data: { confirm: "Are you sure?"} %></td> %>
            </tr>
            <% counter += 1%>
        <% end %>
    </tbody>
</table>

<%= link_to 'New Article', new_article_path %>
