<table>
    <thead>
        <tr>
            <th>Category</th>
        </tr>
    </thead>

    <tbody>
        <% @categories.each do |category| %>
            <tr>
                <td><%= category.name %></td>
                <td><%= link_to 'edit category', edit_category_path(category) %></td>
                <td><%= link_to 'show category', category %></td>
                <td><%= link_to 'delete category', category, method: :delete, data: { confirm: "Are you sure?"} %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'New Category', new_category_path %>